<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h4{
            border: soild 10px black;
        
            height: 50px;
            width: 250px;
            background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        h4:hover{
            color: red;
        }
    </style>
    <title>Document</title>
</head>
<body>

    


    <center><h1>Assingnment</h1>

        <div style="border: solid 10px red; width:500px " >

        <h4 ><a href="/list">List bucket</a></h4>
        <h4 ><a href="/bucket"> Create and Delete Bucket</a></h4>
        <h4 ><a href="/folder">Create or Delete Folder</a></h4>
        <h4 ><a href="/files">Upload  File</a></h4> 
        <h4 ><a href="/list_file">List File</a></h4>   
        <h4 ><a href="/delete_file">Delete File</a></h4>
        <h4 ><a href="/moveorcopy">Move or Copy File</a></h4>
        

        </div>
        

    </center>

    
</body>
</html>